<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css" />
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation" style="margin-bottom: 15px;">
        <div class="container">
            <div class="navbar-start">
                <a class="navbar-item" href="{{ path('page_authors_list') }}">Authors</a>
                <a class="navbar-item" href="{{ path('page_books_list') }}">Books</a>
            </div>
        </div>
    </nav>
    <div class="container">
        {% block errors %}
            {% for error in errors %}
                <article class="message is-danger is-medium">
                    <div class="message-body">
                        {{ error }}
                    </div>
                </article>
            {% endfor %}
        {% endblock %}
        {% block body %}{% endblock %}
    </div>
    {% block javascripts %}{% endblock %}
</body>
</html>
